{include file="header.html"}
<div id="rightTop">
    <p>轮播图</p>
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=CycleImage">列表</a></li>
        <li><span>新增</span></li>
    </ul>
</div>
<div class="info">
    <form method="post" enctype="multipart/form-data" id="image_form" action="index.php?app=CycleImage&amp;act=store">
        <table class="infoTable">
            <tr>
                <th class="paddingT15">图片:</th>
                <td class="paddingT15 wordSpacing5"><input type="file" class="infoTableInput2" name="image" id="image"
                                                           accept="image/jpeg,image/png,image/gif"/>
                    <label class="field_notice">选取图片</label>
                </td>
            </tr>
            <tr>
                <th class="paddingT15">地址:</th>
                <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="image_link" type="text"
                                                           id="image_link" value="{$cycle.image_link|escape}"/>
                    <label class="field_notice">图片链接到的地址</label>
                </td>
            </tr>
            <tr>
                <th></th>
                <td class="ptb20"><input class="formbtn" type="submit" name="submit" value="保存"/>
                    <input class="formbtn" type="reset" name="Reset" value="重置"/>
                </td>
            </tr>
        </table>
    </form>
</div>
{include file="footer.html"}
