{include file="header.html"}
<style>
  .dataTable td {
    text-align: center;
  }
</style>
<div id="rightTop">
  <p>轮播图</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=CycleImage&amp;act=create">新增</a></li>
  </ul>
</div>
<div class="mrightTop1 info">
  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
    <!--{if $list}-->
    <tr class="tatr1">
      <td width="20" class="firstCell"><input type="checkbox" class="checkall" /></td>
      <td width="100"><span>图片名</span></td>
      <td width="150"><span>图片</span></td>
      <td width="150"><span>图片链接地址</span></td>
      <td width="30"><span>排序</span></td>
      <td width="30" class="handler"><span>操作</span></td>
    </tr>
    <!--{/if}-->
    <!--{foreach from=$list item=image}-->
    <tr class="tatr2">
      <td class="firstCell"><input type="checkbox" class="checkitem" value="{$image.image_id}"/></td>
      <td><span ectype="inline_edit" fieldname="image_name" fieldid="{$image.image_id}" required="1" class="editable" title="可编辑">{$image.image_name|escape}</span></td>
      <!--<td><span></span></td>-->
      <td><img src="{$image.image_url|escape}" style="max-width: 100%;height: auto;display: block;"></img></td>
      <td><span ectype="inline_edit" fieldname="image_link" fieldid="{$image.image_id}" required="1" class="editable" title="可编辑">{$image.image_link|escape}</span></td>
      <td><span ectype="inline_edit" fieldname="sort" fieldid="{$image.image_id}" required="1" class="editable" title="可编辑">{$image.sort|escape}</span></td>
      <td class="handler"><span><a href="index.php?app=CycleImage&amp;act=edit&amp;id={$image.image_id}">编辑</a></span></td>
    </tr>
    <!--{foreachelse}-->
    <tr class="no_data info">
      <td colspan="8">{$lang.no_data}</td>
    </tr>
    <!--{/foreach}-->
  </table>
  <!--{if $list}-->
  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15">
      <input class="formbtn batchButton" type="button" value="删除" name="id" uri="index.php?app=CycleImage&act=destroy&current_page={$page.current_page}" presubmit="confirm('确定删除轮播图(不可恢复)?')" />
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
   <!--{/if}-->
  </div>
  <div class="clear"></div>
</div>
{include file="footer.html"}