{include file="header.html"}
<style>
    .dataTable td {
        text-align: center;
    }
</style>
<div id="rightTop">
    <p>分类轮播图</p>
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=gcategory">分类管理</a></li>
        <li><a class="btn1" href="index.php?app=GCategoryCycleImage&act=create&cate_id={$cate_id}">新增轮播</a></li>
    </ul>
</div>
<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">
        <tr class="tatr1">
            <td width="10" class="firstCell"><input type="checkbox" class="checkall" /></td>
            <td width="20%">轮播图</td>
            <td width="100">图片名称</td>
            <td width="100">链接地址</td>
            <td width="100">添加时间</td>
            <td width="20">排序</td>
        </tr>
        <!--{foreach from=$images item=image}-->
        <tr class="tatr2">
            <td class="firstCell"><input type="checkbox" class="checkitem" value="{$image.image_id}" /></td>
            <td><img src="{$image.image_url}" alt="轮播图" style="max-width: 100%;height: auto;display: block;"></td>
            <td><span ectype="inline_edit" fieldname="image_name" fieldid="{$image.image_id}" class="editable" title="可编辑">{$image.image_name|escape}</span></td>
            <!--<td><span ectype="inline_edit" fieldname="image_link" fieldid="{$image.image_id}" class="editable" title="可编辑">{$image.image_link|escape}</span></td>-->
            <td><span>{$image.image_link}&nbsp;&nbsp;<a href="index.php?app=CycleImage&amp;act=select&amp;cycle_image_id={$image.image_id}&amp;cycle_type=category">选取</a></span></td>
            <td>{$image.add_time}</td>
            <td><span ectype="inline_edit" fieldname="sort" fieldid="{$image.image_id}" class="editable" title="可编辑">{$image.sort}</span></td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="5">没有数据</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <div id="dataFuncs">
        <div id="batchAction" class="left paddingT15"> &nbsp;&nbsp;
            <input class="formbtn batchButton" type="button" value="删除" name="image_id" uri="index.php?app=GCategoryCycleImage&act=destroy&cate_id={$cate_id}" />
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="footer.html"} 